body {
  margin: 0 auto;
  max-width: 80vw;
  font-family: Courier;

  background: rgb(233, 76, 161);
  background: -moz-linear-gradient(
    900deg,
    rgba(233, 76, 161, 1) 0%,
    rgba(199, 74, 233, 1) 100%
  );
  background: -webkit-linear-gradient(
    90deg,
    rgba(233, 76, 161, 1) 0%,
    rgba(199, 74, 233, 1) 100%
  );
  background: linear-gradient(
    90deg,
    rgba(233, 76, 161, 1) 0%,
    rgba(199, 74, 233, 1) 100%
  );
}

h1 {
  text-align: center;
}
button {
  background-color: #b794be;
  border-radius: 20px 20px 20px 20px;
  border-style: dotted;
}
#add-artist-form {
  display: grid;
  grid-template-columns: 10vw 20vw 4vw 14.9vw 17vw;
  gap: 20px;
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #aaa;
}

#filters {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-bottom: 15px;
  gap: 15px;
}

#filter-by-song,
#filter-by-year,
#filter-by-winner {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5px;
}

#headers {
  padding: 10px 20px;
  border-bottom: 1px solid #aaa;
  background: #ba68cb;
  border-radius: 12px 12px 0 0;
  overflow: hidden;
  box-shadow: 0 12px 12px rgba(32, 32, 32, 0.3);
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

#melodifestivalen {
  background: #fafafa;
  padding: 10px;
  box-shadow: 0 12px 12px rgba(32, 32, 32, 0.3);
}

.melodifestivalen {
  padding: 10px 10px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

.melodifestivalen div {
  /* Center vertically */
  display: flex;
  align-items: center;
}
